<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>

      <div class="resources grid grid-6col flex-group-center">
        <label for="system.bio.archetype" class="resource-label grid-span-2">{{localize "WRATH_OF_DAVOKAR.Archetype"}}</label>
        <label for="system.bio.heritage" class="resource-label grid-span-2">{{localize "WRATH_OF_DAVOKAR.Heritage"}}</label>
        <label for="system.bio.experience" class="resource-label">{{localize "WRATH_OF_DAVOKAR.Experience.Label.long"}}</label>
        <label class="resource-label">{{localize "WRATH_OF_DAVOKAR.Experience.Unspent.short"}}</label>

        <input class="grid-span-2" type="text" name="system.bio.archetype" value="{{system.bio.archetype}}"/>
        <input class="grid-span-2" type="text" name="system.bio.heritage" value="{{system.bio.heritage}}" />
        <input type='number' step="1" name="system.experience.total" value="{{system.experience.total}}" data-dtype="Number"/>
        <span>{{system.experience.unspent}}</span>

      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="primary-tabs sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="main">{{localize "WRATH_OF_DAVOKAR.Base.Tabs.Main"}}</a>
    <a class="item" data-tab="description">{{localize "WRATH_OF_DAVOKAR.Base.Tabs.Description"}}</a>
    <a class="item" data-tab="items">{{localize "WRATH_OF_DAVOKAR.Base.Tabs.Items"}}</a>
    <a class="item" data-tab="talents">{{localize "WRATH_OF_DAVOKAR.Base.Tabs.Talents"}}</a>
    <a class="item" data-tab="mysticalPowers">{{localize "WRATH_OF_DAVOKAR.Base.Tabs.PowersAndRituals"}}</a>
    <a class="item" data-tab="effects">{{localize "WRATH_OF_DAVOKAR.Base.Tabs.Effects"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="primary-body sheet-body">

    {{!-- Main Tab --}}
    <div class="tab main" data-group="primary" data-tab="main">
      {{> "systems/wrath-of-davokar/templates/actor/parts/actor-main.hbs"}}
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
       {{> "systems/wrath-of-davokar/templates/actor/parts/actor-description.hbs"}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
       {{> "systems/wrath-of-davokar/templates/actor/parts/actor-items.hbs"}}
    </div>

    {{!-- Taletns Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="talents">
      {{> "systems/wrath-of-davokar/templates/actor/parts/actor-talents.hbs"}}
    </div>

    {{!-- Mystical Powers Tab --}}
    <div class="tab mysticalPowers" data-group="primary" data-tab="mysticalPowers">
      {{> "systems/wrath-of-davokar/templates/actor/parts/actor-mysticalPowers.hbs"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/wrath-of-davokar/templates/actor/parts/actor-effects.hbs"}}
    </div>

  </section>
</form>
